doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")

		if base_depth == 1
			base(href="../")
		else if base_depth == 2
			base(href="../../")
		else
			base(href="")

		link(rel="stylesheet", href="dist/css/app.css")
		if page
			- let cssHref = `dist/css/pages/${page.number}.css`;
			link(rel="stylesheet", href=cssHref)

		| !{gaText}

	body
		header.pyp-header
			h1 palpng
		content.pyp-content
			block content
		footer.pyp-footer
			h2 &copy; Ankur Seth 2021


