
extends _base

block content
	+PaletteList(page.palettes)
	div.pagination
		h2 #{app.getTitle()} | pages
		each p in app.pages
			| !{app.nl}
			if p == page
				a.current= p.number
			else
				a(href=p.relativeURL)= p.number



