
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont,
		"San Francisco", "Segoe UI", Roboto, Ubuntu,
		"Helvetica Neue", Arial, sans-serif;
	background-color: #f7f7f7;
}

b, .mono {
	font-family: "Ubuntu Mono", Monaco, "Lucida Console", "Courier New", monospace;
}

p {
	line-height: 2.0;
}

a {
	text-decoration: none;
}



content.pyp-content {
	display: block;
	padding: 0px 10px;
	max-width: 1200px;
	margin: auto;
	box-sizing: border-box;
}



div.colorshelf {
	margin-bottom: 60px;
	& > div.colorbox {
		display: inline-block;
		width: 100px;
		background-color: #fff;
		&:nth-child(even) {
			background-color: #eee;
		}
		& > p {
			margin: 0;
			height: 70px;
		}
		& > b {
			text-align: center;
			display: block;
			padding: 10px;
		}
	}
}



div.palette {
	display: block;
	margin: 40px 60px;
	margin-bottom: 100px;
	& > div.title {
		& > h2 {
			& > a {
				text-decoration: none;
				color: #000;
			}
		}
	}
}



div.palette-detail {
	margin: 60px auto;
	text-align: center;
	& > div.column {
		display: inline-block;
		width: 90px;
		margin-right: -1px;
		margin-bottom: 60px;
		background-color: #fff;
		&.header {
			width: 40px;
		}
		& > b {
			display: block;
			padding: 10px;
			border: 1px solid #000;
			margin-bottom: -1px;
		}
		& > b.c {
			height: 60px;
		}
	}
}




