
$resolution-colors: (
	"HD": blue,
	"FHD": #14b871,
	"QHD": red,
	"UHD": #b81487
);

div.downloads {
	margin: auto 40px;
	& > div.title {
		text-align: center;
	}
	& > div.content {
		text-align: center;
	}
}

div.download {
	@each $res, $color in $resolution-colors {
		&.#{$res} {
			border-color: $color;
		}
		&.#{$res} > div.top > span.#{$res} {
			background-color: $color;
		}
		&.#{$res} > div.bottom > a {
			color: $color;
		}
		&.#{$res} > div.bottom > a {
			&:hover, &:focus {
				border-bottom-color: $color;
			}
		}
	}

	text-align: left;
	vertical-align: top;
	display: inline-block;
	background-color: #fff;
	width: 240px;
	border: 2px solid #ccc;
	margin: 20px 10px;
	margin-bottom: 40px;
	padding: 10px 15px;
	& > div.top {
		padding: 10px 0px;
		& > span.res {
			color: #fff;
			padding: 4px 6px;
			font-size: 14px;
			font-weight: bold;
		}
		& > span.resx {
			padding: 10px;
			font-size: 12px;
			color: #777;
		}
	}

	& > div.middle {
		transition: all 0.4s;
	}
	&:hover > div.middle {
		padding-left: 5px;
	}

	& > div.bottom {
		& > a {
			display: inline-block;
			text-decoration: none;
			padding: 4px 0px;
			font-size: 14px;
			color: #a32828;
			border-bottom: 2px solid transparent;
			&:hover {
				border-bottom-color: #a32828;
			}
		}
		& > span.size {
			padding-left: 10px;
			font-size: 14px;
			color: #555;
		}
	}
}


