
div.downloads {
	margin: auto 40px;
	& > div.title {
		text-align: center;
	}
	& > div.content {
		//
	}
}

div.downloads > div.content > table {
	border-collapse: collapse;
	margin: auto;
	background-color: #fff;
	min-width: 60%;
	tr {
		& > td {
			padding: 15px 15px 13px;
			border: 1px solid #ddd;
			border-color: #aaa #ddd;
			&.name {
				min-width: 120px;
			}
		}
	}
}


