
footer.footer-one {
	background-color: #fff;
	& > div.repos {
		padding: 40px 20px;
		text-align: center;
		& > div.content {
			& > div.repo {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				padding: 20px;
				border: 2px solid #4799eb;
				margin: 20px;
				width: 280px;
				& > div.title {
					color: #444;
				}
				& > div.description {
					color: #777;
					& > p {
						font-size: 14px;
					}
				}
				& > div.url {
					padding: 12px 0px;
					& > a {
						background-color: #a7d9ff;
						padding: 10px 12px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

$footer-two-bg: #333;
$footer-two-bdc: #aaa;

footer.footer-two {
	background-color: $footer-two-bg;
	color: #fff;
	padding: 50px 20px;
	//text-align: center;
}

footer.footer-two > div.author {
	max-width: 1200px;
	margin: auto;
	padding: 40px 40px;
}

footer.footer-two > div.websites {
	max-width: 1200px;
	margin: auto;
	& > div.website {
		border: 2px solid $footer-two-bdc;
		max-width: 400px;
		padding: 0px 20px;
		margin: 20px;
		margin-bottom: 70px;
		position: relative;
		& > div.title, & > a {
			position: absolute;
			font-size: 14px;
			display: inline-block;
			background-color: $footer-two-bg;
			padding: 8px 12px;
			color: #fff;
		}
		& > div.title {
			top: -20px;
			border: 2px solid $footer-two-bdc;
		}
		& > div.url {
			padding: 40px 0px;
		}
		& > a {
			bottom: -20px;
			right: 30px;
			background-color: #444;
			border: 2px solid #444;
		}
	}
}
